.gridContainer {
    max-width: 1400px;
    width: 100%;
    margin: 1rem auto auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 0 0.8rem 0.8rem;
}

.gridItem {
    position: relative;
    transition: all 500ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0.8rem 0 0;
}

@media (max-width: 600px) {
    .gridContainer {
        max-width: 100%;
        width: 100%;
        margin: 1rem auto auto auto;
        grid-template-columns: auto auto;
        padding: 0 0 0.4rem 0.4rem;
    }

    .gridItem {
        padding: 0.4rem 0.4rem 0 0;
    }
}
